* {
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    width: 200px;
    height: 200px;
    background-color: blue;
    opacity: 0.2;
    animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes animation {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 0.9;
        background-color: brown;
    }
}